{% extends "header.html" %}
{% block title %}Create invitation{% endblock %}
{% block body %}
<main class="form-signin w-100 m-auto">
  <form method="POST">
    <h1 class="h3 mb-3 fw-normal">Invitation</h1>

    <div class="form-floating">
      <input name="names" type="text" class="form-control" id="names" placeholder="" minlength="1" maxlength="80">
      <label for="names">Names</label>
    </div>

      <div class="form-floating">
      <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" minlength="1" maxlength="80">
      <label for="email">Email address</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Send</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
</main>
{% endblock %}