{% extends "header.html" %}
{% block title %}Create event{% endblock %}
{% block body %}
<div class="form-signin w-100 m-auto">
        <h4 class="mb-3">Event info</h4>
        <form class="needs-validation" method="post">
            <div class="row">
            <div class="col-sm-6">
              <label for="name" class="form-label">Name</label>
              <input name="name" type="text" class="form-control" id="name" placeholder="" value="" required="" minlength="1" maxlength="80">
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="date" class="form-label">Date</label>
              <input name="date" type="datetime-local" class="form-control" id="date" required>
            </div>
                </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input name="address" class="form-control" id="address" placeholder="" required minlength="1" maxlength="80">
              <div class="invalid-feedback">
                Please enter a valid address.
              </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to invitations</button>
        </form>
      </div>
{% endblock %}